---
import Navigation from '../components/Navigation.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css'

const pageTitle = "About Me";

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const skillColor = "salmon";
---

<style define:vars={{skillColor}}>
    h1 {
      color: purple;
      font-size: 4rem;
    }
    .skill {
      color: var(--skillColor);
      font-weight: bold;
    }
</style>

<Layout title="About">
	<main>
        <Navigation />

        <h1><span class="astro-gradient">{pageTitle}</span></h1>

		<ul>
			{skills.map((skill) => <li class="skill">{skill}</li>)}
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
