---
import BlogLayout from './BlogLayout.astro';

const { frontmatter } = Astro.props;

const options: Intl.DateTimeFormatOptions = { year: 'numeric', month: 'long', day: 'numeric', weekday: 'long', };
const pubDate = new Date(frontmatter.pubDate).toLocaleDateString("en-GB", options);
---
<BlogLayout title={frontmatter.title}>
    <p>Published on: {pubDate}</p>
    <div class="blog-post">
        <slot />
    </div>
</BlogLayout>

<style is:inline>
    .blog-post p img {
        max-width: 800px;
        height: auto;
    }
</style>
